<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3" >
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
 {{ air_time}}
 <br>
 <h3>Air quality: {{ air_qual_val }} </h3>
 
 <h4>{{ air_qual_class }} </h4>
 
    <form action='/' method='GET'>
        <input type="hidden" name="add_secs" value="3">
        <input type='submit' value='Set to real-time mode'>
    </form>
    <form action='/' method='GET'>
        <input type="hidden" name="add_secs" value="30">
        <input type='submit' value='Debug: set time jump to 30 secs'>
    </form>
 <br>
 <br>
 <br>

<h3>Air Quality History Snapshot</h3>
<form action='/five_min' method='GET'>
    <input type='submit' value='Past Five Minutes'>
</form>

<form action='/ten_min' method='GET'>
    <input type='submit' value='Past Ten Minutes'>
</form>

<form action='/thirty_min' method='GET'>
    <input type='submit' value='Past Thirty Minutes'>
</form>

</body>
</html>