<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
 {{ air_time}}
 <br>
 <h3>Air quality: {{ air_qual_val }} </h3>
 
 <h4>{{ air_qual_class }} </h4>
 
    <form action='/' method='GET'>
        <input type='submit' value='Press the button to get an update'>
    </form>
 <br>
 <br>
 <br>

<h3>Air Quality History Snapshot</h3>
<form action='/five_min' method='GET'>
    <input type='submit' value='Past Five Minutes'>
</form>

<form action='/ten_min' method='GET'>
    <input type='submit' value='Past Ten Minutes'>
</form>

<form action='/thirty_min' method='GET'>
    <input type='submit' value='Past Thirty Minutes'>
</form>

</body>
</html>